<div class="home-masthead ">
	<div class="container">  
	  <h1>Develop your idea muscle with regular exercise</h1>

	  <h2>
	    Real businesses, real inspiration, real difference
	  </h2>

	  <%= link_to "Start now", '#', class: "btn btn-large btn-primary call-to-action" %>
  </div>
</div>

<div class="container">
	<div class="section-headline">How Does It Work?</div>
	<div class="row spaced">
	  <div class="col-md-4">
	  	<div class="icons" data-icon="&#xe00e;"></div>
	  	<div class="icon-headline">Exercise Your Creativity</div>
	  	<div class="icon-text">Generating 10 ideas daily gives you the exercise you need to flex your idea muscle. Stick to the simple exercise for 6 months to become a true Idea Machine. Observe how it transforms your life!</div>
	  </div>
	  <div class="col-md-4">
	  	<div class="icons" data-icon="&#xe000;"></div>
	  	<div class="icon-headline">Real Companies, Real Help</div>
	  	<div class="icon-text">Why brainstorm ideas about random subjects when you can give valuable feedback to existing companies and real entrepreneurs. Create real value and connect with great people.</div>
	  </div>
	  <div class="col-md-4">
	  	<div class="icons" data-icon="&#xe014;"></div>
	  	<div class="icon-headline">Crowdsource Your Brainstorming</div>
	  	<div class="icon-text">Define your problem and receive fresh daily ideas from the community. It's free!</div>
	  </div>
	</div>
</div>

<div class="container separator">
	<div class="section-headline">Take Today's Challenge</div>
	 
</div>

<div class="container separator">
	<div class="section-headline">All Time Idea Machines</div>
	 
</div>

