<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.name.split[0] %>!</h1>
    <p>It's fantastic you decided to work towards becoming an Idea Machine.</p>
    <p>You'll get your fist daily assignment tomorrow. As always, it will be a real company facing real challenges. All of your ideas will be delivered to the company's owner. You'll solve real problems, make a real difference.</p>
    <p>If you can't wait until tomorrow, go ahead and take today's challenge for extra points!</p>
    <p>My best,</p>
    <p>Jan</p>

    <p>P.S.: Ten ideas is still a work in progress. I'd love to hear your feedback. Simply hit reply to this message and I'll get back to you as soon as I can.</p>
  </body>
</html>
