<div class="container">
	<div class="row user-home-container">
		<%= render 'shared/sidebar'  %>
		<div class="col-md-9">
			
			<h1>Welcome, <%= current_user.name.split[0] %>!</h1>
			<% if current_user.ideas.count > 0 %>
				<h2>You've posted <span class="highlight" ><%= current_user.ideas.count*10 %></span> ideas so far.</h2>	
				<h2><strong>Keep going!</strong></h2>
			<% else %>
				<h2>It's a fine day to start. Submit your first 10 ideas today!</h2>
			<% end %>			
		</div>
	</div>
</div>